input {
    font-family: 'Montserrat', sans-serif;
}

.chatRoom {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2vh 4vh 1px 73vh 6vh;
}

.btn-message {
    height: 5vh;
    font-size: 5vw;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    background-color: rgba(254, 255, 247, 0.978);
    color: #293132;
    border: 1px;
    margin-right: 0.5vh;
    height: 6.5vh;
}

.message-input {
    background-color: rgba(254, 255, 247, 0.978);
    border: none !important;
    height: 6.3vh;
    width: 90vw;
    font-size: 3vw;
    border-radius: 20px 0px 0px 20px;
}

.chatPartnerName {
    height: 100%;
    font-weight: bold;
    font-size: 3vh;
    align-items: center;
}

.fa-arrow-left {
    font-size: 6vw;
    justify-self: center;
    align-self: center;
}

.fa-info {
    justify-self: center;
    align-self: center;
}

.msgSending {
    text-align: left;
    color: red;
    background-color: white;
    margin: 3vh;
    margin-top: 3vh !important;
    font-size: 3.5vw;
    display: inline-block;
    display:flex;
    direction: rtl;
}

.msgReceiving {
    background-color: white;
    margin-left: 2vw;
    text-align: left;
    color: green;
    margin-top: 2vh;
}

.msgContainer {
    width: 100vw;
}

.input-container {
    display: grid;
    grid-template-columns: 9fr 1fr;
    position: fixed;
    bottom: 8.4vh;
    width: 100%;
}

.header-container {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    justify-items: center;
    align-items: center;
    position: fixed;
    background-color: rgba(254, 255, 247, 0.978);
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    top: 8vh;
    width: 100%;
    border-radius: 0px 0px 5vh 5vh;
    align-items:start;

}

.fa-info {
    font-size: 6vw;
}

.marginTop {
    margin-top: 8vh;
}

.marginBottom {
    margin-bottom: 10vh;
    width: 100%;
}

.vlMsgBottom {
    position: fixed;
    bottom: 14vh;
    height: 0.7px;
    width: 100vw;
    background-color: rgba(201, 196, 196, 0.664);
}

.vlMsgTop {
    bottom: 10vh;
}

.marginBottom {
    height: 4vh;
    width: 100%;
}

.pictureMsg {
    border-radius: 30%;
    justify-self: right;
    margin-right: 2vw;
    height: 11vw;
    width: 11vw;
}

.pictureAndName{
    display: grid;
    grid-template-columns: 1fr 4fr;

}

.header-container .popup-content {
    background-color: rgba(255, 255, 255, 0.979) !important;
    width: 75vw !important;
    height: 50vh;
    display: grid;
    justify-items: center;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75) !important;
    border: solid #00C7DD 1.7px !important;
}
.infoItems{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}
.info-titles {
    text-decoration: underline;
}
.infoItem-picture{
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 25%;
}