.title {
    color: white;
    display: grid;
    align-items: flex-end;
}

.imgContainer {
    height: 8vh;
    display: grid;
}

.replace {
    height: 8vh;
    width: 100%;
}

.image {
    border-radius: 50%;
    height: 5.5vh;
    width: 5.5vh;
    align-self: center;
    justify-self: center;
}

.name {
    font-size: 1.3vh;
    display: grid;
    align-self: center;
}

.imageAndName {
    display: grid;
    grid-template-columns: 14% 28% 12% 42%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.fas {
    font-size: 4vh;
    align-self: center;
    justify-self: right;
    cursor: pointer;
}

.popup-content {
    width: 75vw !important;
    height: 70vh;
    display: grid;
    justify-items: center;
}

.setButton:active {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
