.rangeTitle{
    color: #182825;
    font-size: 20px;
    margin-top: 1vh;
}

.silenceTitle{
    color: #182825;
    font-size: 20px;
}
.modeTitle{
    color: #182825;
    font-size: 20px;
    margin-bottom: 2vh;
}

.ModeSelector{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.iconSettings{
    width: 6vh;
    height: 6vh;
    display: grid;
    justify-self: center;
}

.sos{
    background-color: #fd19008f;
    border-radius: 1.6vw;
}

.vlInSettings{
    width:100%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: rgba(201, 196, 196, 0.664);
    height: 0.2vw;

}

.popup-content {
    background-color: rgb(255, 255, 255) !important;
    width: 75vw !important;
    height: 75vh;
    display: grid;
    justify-items: center;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75) !important;
    border: solid #00C7DD 1.7px !important;
}

.MuiRadio-colorPrimary.Mui-checked{
    color: #00C7DD !important;
}

.MuiRadio-colorPrimary{
    color: #182825 !important;
}

.silenceSwitch{
    display: grid;
    justify-content: flex-start;
}



.MuiSwitch-colorSecondary.Mui-checked {
    color: #00C7DD !important;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track{
    background-color: #00C7DD !important;


}

.WithStyles\(ForwardRef\(Slider\)\)-root-33{
    color: #00C7DD !important;
}

.WithStyles\(ForwardRef\(Slider\)\)-mark-39 {
    color: #182825;
    width:2px !important;

}

.WithStyles\(ForwardRef\(Slider\)\)-thumb-34{
    background-color: #00C7DD !important;
}