.rangeTitle{
    color:black;
    font-size: 20px;
    margin-top: 1vh;
}

.silenceTitle{
    color:black;
    font-size: 20px;
}
.modeTitle{
    color:black;
    font-size: 20px;
    margin-bottom: 2vh;
}

.ModeSelector{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.iconSettings{
    margin-top: 5vh;
    margin-right: 2vw;
    width: 6vh;
    height: 6vh;
}

.sos{
    background-color: #fd19008f;
    border-radius: 1.6vw;
}

.vlInSettings{
    width:100%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: rgba(201, 196, 196, 0.664);
    height: 0.2vw;
}
