.footerPlace{
    height: 7vh;
    width: 100%;
}

.headerPlace{
    height: 9vh;
    width: 100%;
}

.bigUser{
    display: grid;
    grid-template-rows: 1fr 0.7px;
}

.vl{
    width: 100vw;
    height: 0.7px;
    background-color: rgb(216, 216, 216);
}

.help{
    background-color: #fd19008f;
}

.user {
    display: grid;
    grid-template-columns: 40vw 40vw 20vw;
    height: 10vh;
    font-size: 3.5vw;
}

.name {
    font-size: 20px;
    text-align: left;
}

.imgContainer {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 10%;
}

.fullName{
    display: grid;
    text-align: left;
    align-content: center;
}

.online {
    background-image: url(https://img.icons8.com/ios/50/000000/coffee.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.cigarette {
    height: 100%;
    width: 100%;
    background: url(https://img.icons8.com/office/16/000000/smoking.png);
    background-position: center;
    background-repeat: no-repeat;
}

.eat {
    height: 100%;
    width: 100%;
    background: url(https://img.icons8.com/doodle/48/000000/hot-dog.png);
    background-position: center;
    background-repeat: no-repeat;
}

.drink {
    height: 100%;
    width: 100%;
    background-image: url(https://img.icons8.com/color/48/000000/beer-bottle-cap--v1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.walk {
    height: 100%;
    width: 100%;
    background-image: url(https://img.icons8.com/color/48/000000/walking.png);
    background-position: center;
    background-repeat: no-repeat;
}