.bigUser {
    display: grid;
    grid-template-rows: 1fr 0.7px;
    height: 12vh;
 
}

.vl {
    width: 100vw;
    height: 0.7px;
    background-color: rgba(201, 196, 196, 0.664);
}

.distance {
    display: grid;
    align-content: center;
}

.sosBackground {
    background-color: #fd19008f;
    width: 100vw;
}

.user {
    display: grid;
    grid-template-columns: 60vw 20vw 20vw;
    height: 10vh;
    font-size: 3.5vw;
}

.name {
    font-size: 20px;
    text-align: left;
}

.imgContainer {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 10%;
}

.fullName {
    display: grid;
    text-align: left;
    align-content: center;
    margin-left: 2vw;
    font-size: 4.5vw;
}

.icon {
    height: 5vh;
    width: 5vh;
    display: grid;
    align-self: center;
}

.currentUser{
color:white;
background-color: #182825;

}